{
	"env": {
		"es6": true,
        "browser": true,
        "jasmine": true
	},
	"rules": {
		"require-jsdoc": ["error", { "require": { "FunctionDeclaration": false, "MethodDefinition": false, "ClassDeclaration": false, "ArrowFunctionExpression": false, "FunctionExpression": false } }]
	}
}
