<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AJAX Example</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="col-xs-12 form-inline">
                <div class="alert alert-info">This example requires the usage of a JSON server. We recommend <a href="https://github.com/typicode/json-server" target="_blank">typicode/json-server</a> and find it easy to use. You can run <code>npx concurrently --kill-others 'npx json-server --watch examples/rows-db.json' 'npx http-server'</code> from the root directory of this project and then go to <a href="http://localhost:8080/examples/ajax/index.html">http://localhost:8080/examples/ajax/index.html</a></div>
            </div>

            <div class="col-xs-12 form-inline">
                <div class="form-group">
                    <label for="filter" class="sr-only">Filter</label>
                    <input type="text" class="form-control" v-model="filter" placeholder="Filter">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <ajaxtable :filter-by="filter" :columns="columns" :data="url"></ajaxtable>
                    <ajaxtable-pager v-model="page"></ajaxtable-pager>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
        <script src="build/app.js"></script>
    </body>
</html>
