<section>
	<h2>Introduction</h2>
	<article>
		<p>If the processing of your rows is very expensive (like if it is fetched from an API, or requires a heavy computation), you may want to limit the number of calls to this function. For instance, if you want to automatically refresh data on text filter changes, you would avoid re-process everything on every key press.</p>
		<p>This process of limitation is <b>very important</b> to reduce your load & improve performances, and it can be seen in two main variations:</p>
		<dl class="inlined-elements">
			<div><dt>debouncing</dt><dd>runs after a cooldown of <var>n</var> ms</dd></div>
			<div><dt>throttling</dt><dd>runs at most every <var>n</var> ms</dd></div>
		</dl>
		<p>You can check out <a href="https://css-tricks.com/debouncing-throttling-explained-examples/" target="_blank">this nice article on CSS-Tricks</a> for more informations about the difference between those kind of functions.</p>
        <p>In this example, we use the <a href="https://lodash.com/docs/4.17.11#debounce" target="_blank"><code>_.debounce</code> function from <em>lodash</em></a> to call <code>processRows</code> only when the user stop typing for 1s.</p>
        
		<div class="alert alert-info">
			<p><i class="glyphicon glyphicon-info-sign"></i> See the ajax tutorial via <a href="./tutorial-ajax-data.html" target="_blank">data function</a> or <a href="./tutorial-ajax-handler.html" target="_blank">custom handlers</a> for a more detailed example of AJAX data querying.</p>
		</div>
	</article>
</section>

<section>
	<h2>Demo</h2>
	<div id="demo-app">
		<div class="row">
			<div class="col-xs-12 col-md-4 form-inline">
				<div class="form-group">
					<label for="filter" class="sr-only">Filter</label>
					<input type="text" class="form-control" v-model="filter" placeholder="Filter">
				</div>
			</div>
			<label for="calls-count" class="col-xs-6 col-md-4">Process count: </label>
			<output id="calls-count" class="col-xs-6 col-md-4">{{callsCount}}</output>
			
			<div class="col-xs-12 table-responsive">
				<datatable :columns="columns" :data="someLongOperation" :filter="filter" name="debounced"></datatable>
				<datatable-pager v-model="page" per-page="10" table="debounced"></datatable-pager>
			</div>
		</div>
		<div class="row">
		</div>
	</div>
</section>

<section>
	<h2>Code</h2>
	<div id="code-samples">
		<article>
			<h3>Javascript</h3>
			<pre><code class="js language-js" id="code-area"></code></pre>
		</article>
		<article>
			<h3>HTML</h3>
			<pre><code class="html language-html" id="template-area"></code></pre>
		</article>
	</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
<script id="deps"></script>
<script src="./assets/rows.js" async></script>
<script id="demo-script"></script>
