<div id="demo-app">
    <div class="row">
        <div class="col-xs-12 form-inline">
            <div class="form-group">
                <label for="filter" class="sr-only">Filter</label>
                <input type="text" class="form-control" v-model="filter" placeholder="Filter">
            </div>
        </div>
        
        <div class="col-xs-12 table-responsive">
            <datatable :columns="columns" :data="rows" :filter-by="filter"></datatable>
            <datatable-pager v-model="page"></datatable-pager>
        </div>
    </div>
</div>

<div id="code-samples">
    <section>
        <h2>Javascript</h2>
        <pre><code class="js language-js" id="code-area"></code></pre>
    </section>
    <section>
        <h2>HTML</h2>
        <pre><code class="html language-html" id="template-area"></code></pre>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous" defer></script>
<script id="deps"></script>
<script src="./assets/rows.js" async></script>
<script id="demo-script"></script>
