<section>
	<h2>Introduction</h2>
	<article>
		<p>The <a href="./module-datatable-pager.html" target="_blank">DatatablePager</a> allows you to customize the overall appearance of the paging, using the <code>type</code> property. If this property isn't set, it fallbacks to <code>long</code></p>
		
		<div class="alert alert-info">
			<p><i class="glyphicon glyphicon-info-sign"></i> To customize further the classes & HTML content of the table type, please see the <a href="./tutorial-custom-theme.html" target="_blank">Custom theme</a> tutorial.</p>
		</div>
	</article>
</section>

<section>
	<h2>Demo</h2>
	<div id="demo-app">
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="filter">&nbsp;</label>
					<input type="text" class="form-control" v-model="filter" placeholder="Filter">
				</div>
			</div>
		</div>
		<div class="col-xs-12 table-responsive">
			<datatable :columns="columns" :data="rows" :filter="filter"></datatable>
		</div>
		<section>
			<div class="row">
				<div class="col-md-4 col-xs-12">Short</div>
				<div class="col-md-8 col-xs-12 pagination-no-margin"><datatable-pager v-model="page" type="short"></datatable-pager></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-12">Abbreviated</div>
				<div class="col-md-8 col-xs-12 pagination-no-margin"><datatable-pager v-model="page" type="abbreviated"></datatable-pager></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-12">Long</div>
				<div class="col-md-8 col-xs-12 pagination-no-margin"><datatable-pager v-model="page" type="long"></datatable-pager></div>
			</div>
		</section>
	</div>
</section>

<section>
	<h2>Code</h2>
	<div id="code-samples">
		<article>
			<h3>Javascript</h3>
			<pre><code class="js language-js" id="code-area"></code></pre>
		</article>
		<article>
			<h3>HTML</h3>
			<pre><code class="html language-html" id="template-area"></code></pre>
		</article>
	</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous" defer></script>
<script id="deps"></script>
<script src="./assets/rows.js" async></script>
<script id="demo-script"></script>
