<section>
	<h2>Introduction</h2>
	<article>
		<p>You can create a custom <a href="./TableType.html" target="_blank">Table Type</a> dedicated to AJAX-sourced data. This approach has the advantage of being totally reuasble, while the <a href="./tutorial-ajax-data.html" target="_blank">AJAX via data function</a> may be less reuasble across multiple table instances.</p>
		<p>The example bellow reuses 2 times the same logic, changing only the <code>data</code> parameter to a different endpoint.</p>
		
		<div class="alert alert-info">
			<p><i class="glyphicon glyphicon-info-sign"></i> If you want to customize the behavior of your table for a <b>single use</b>, you may want to check the use of <a href="./tutorial-ajax-data.html" target="_blank">the <code>data</code> function</a>.</p>
		</div>
	</article>
</section>

<section>
	<h2>Demo</h2>
	<div id="demo-app">
		<h3>Upcoming launches</h3>
		<div class="row">
			<div class="col-xs-12 table-responsive">
				<ajaxtable name="upcoming" :columns="columns" :data="apiUrlUpcoming"></ajaxtable>
				<ajaxtable-pager table="upcoming" v-model="page"></ajaxtable-pager>
			</div>
		</div>
		<h3>Past launches</h3>
		<div class="row">
			<div class="col-xs-12 table-responsive">
				<ajaxtable name="past" :columns="columns" :data="apiUrlPast"></ajaxtable>
				<ajaxtable-pager table="past" v-model="page"></ajaxtable-pager>
			</div>
		</div>
	</div>
</section>

<section>
	<h2>Code</h2>
	<div id="code-samples">
		<article>
			<h3>Javascript</h3>
			<pre><code class="js language-js" id="code-area"></code></pre>
		</article>
		<article>
			<h3>HTML</h3>
			<pre><code class="html language-html" id="template-area"></code></pre>
		</article>
	</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous" defer></script>
<script id="deps"></script>
<script id="demo-script"></script>
