table + nav > .pagination{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
table + nav > .pagination > li:first-child:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
table + nav > .pagination > li:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
table + nav > .pagination > li:first-child {
	margin-left: 0;
}
table + nav > .pagination > li {
	position: relative;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
table + nav > .pagination > li.active{
	background-color: #286090;
	border-color: #204d74;
}
